HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
saveit-backend/HELP.md
saveit-backend/target/
!saveit-backend/.mvn/wrapper/maven-wrapper.jar
!saveit-backend/**/src/main/**/target/
!saveit-backend/**/src/test/**/target/


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
saveit-backend/.idea
saveit-backend/*.iws
saveit-backend/*.iml
saveit-backend/*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
